<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <link rel="stylesheet" href="/css/styles.min.css" />
    <link rel="icon" href="/img/favicon.png" />
  </head>
  <body>
    <div class="centered-form">
      <div class="centered-form__box">
        <h1>Join</h1>
        <form action="/chat">
          <label>Display name</label>
          <input
            placeholder="Display name"
            type="text"
            name="username"
            required
          />
          <label>Room Id</label>
          <input placeholder="Room Id" type="text" name="room" required />
          <button>Join</button>
        </form>
      </div>
    </div>
  </body>
</html>